body {
    margin: 150px;
    background: #ffffff;
    color: rgb(255, 255, 255);
}

section {
    width: 400px;
    height: auto;
    border-radius: 50px;
    background: linear-gradient(#eb18dd, #86157e, #611778);
    box-shadow: 0 0 50px 10px #0007;
}

img {
    border-radius: 50%;
    width: 120px;
    margin: 20px 35% 0 35%;
    filter: drop-shadow(0 0 10PX #480d48);
}

h1 {
    width: auto;
    margin: 0 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: system-ui, sans-serif;
    font-size: 40px;
    text-shadow: 0 0 8px rgba(20, 18, 20, 0.77);

}

h2 {
    margin: 0;
    padding: 0 20px 20px 30px;
    font-family: sans-serif;
    font-weight: bold; 
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-align: center;
    text-shadow: 2px 2px 12px rgb(20, 18, 20);
}

p {
    font-size: 15px;
    padding: 10px 20px 30px 20px;
    color: rgb(48, 46, 46);
    background: #d0d0d0;
    font-family: sans-serif;
    text-align: justify;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-shadow: 2px 2px 12px rgb(169, 167, 167);
}