* {box-sizing: border-box;}

body {
    margin: 0;
    background-color: rgb(45, 45, 90);
    font-family: sans-serif;
}

header {
    width: 100vw;
    height: 20vh;
    background: #fff;
}

main {
    margin: 200px;
}

.box {
    color: #fff;
    width: 744px;
    height: 618px;
    background-color: transparent;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 50px;
}

.container-img{
    width: 710px; /*600px*/
    height: 500px;
    margin: 20px auto 10px auto;
    text-align: center;
    background-image: url(image.png);
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-position: top;
    border: 2px solid #fff;
    border-radius: 50px;
}

h3 {
    margin: 0 0;
    font-size: 60px;
    text-align: center;
}

button {
    color: rgb(45, 45, 90);
    padding: 20px;
    font-size: 50px;
    margin: 150px 250px;
    border: none;
    border-radius: 20px;
}