body {
    margin: 0;
    font-family: sans-serif;
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    border: 2px solid #111;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);

    gap: 5px;
    padding: 5px;
}

.grid--item {
    background-color: #48e;
    color: #eee;
    text-align: center;
    font-size: 35px;

    border: 2px solid #111;
    padding: 70px;
}