body {
    margin: 0;
    font-family: sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 80px 250px 150px;
    /* grid-template-columns: 10% 20% 70%; */
    grid-template-rows: 200px 200px;
}

.grid--item {
    background-color: #48e;
    color: #eee;
    text-align: center;
    font-size: 35px;
    padding: 10px;
    margin: 10px;
}